{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">Video processing using Machine learning and AI</h2>
  <p class="card-text">Process the black and white videos and convert it into coloured videos!!</p>
  <p class="card-text">
    Connect with us on Linkedin:  <a href="https://www.linkedin.com/in/atul-ranjan-83025622a/" target="_blank" rel="noopener noreferrer">Atul Ranjan</a> and
    <a href="https://www.linkedin.com/in/krishna-poddar-2461aa231/" target="_blank" rel="noopener noreferrer">Krishna Poddar</a>.
  </p>

{% endblock %}
